@font-face {
    font-family: 'poiretone';
    src: url('PoiretOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100%;
    background-color: #fcefd1;
    margin: 0px;
    border-top: 7px solid #7FB1B0;
    font-family: 'lobster';
    font-weight: lighter;
}

h1 {
    font-size: 50px;
}

.header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.log-in{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.log-in h2 {
    font-size: 42px;
}

.log-in p {
    font-size: 40px;
}

#buttons{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

button:focus {outline:0;}

.log-in #buttons {
    display: inline-block;
}

.ageDiv {
    margin-right: 2px;
    text-align: center;
}


button {
    margin: 30px 10px 10px 10px;
    width: 155px;
    height: 155px;
    background-color: #7FB1B0;
    border: 0px;
    border-radius: 8px;
    padding: 0px;
    font-family: 'lobster';
    font-size: 35px;
    font-weight: lighter;
    color: black;
}

#scores {
    position: fixed;
    top: 47%;
    left: 48.3%;
    font-size: 30px;
    font-weight: lighter;
}

#retry {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 155px;
    background-color: #7FB1B0;
    border: 0px;
    border-radius: 8px;
    font-family: 'lobster';
    font-size: 35px;
    font-weight: lighter;
    color: black;
}

#gameboard {
    position: fixed;
    top: 50%;
    left: 50%;
}

.card {
    position: relative;
    background-color: #7FB1B0;
    border-radius: 8px;
    margin: 5px;
    float: left;
}

img {
    border-radius: 8px;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;    
}

.covered {
    opacity: 0;
}

.container {
    position: fixed;
    width: 1075px;
    height: 500px;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -450px;
}

#message {
    width: 610px;
    margin: 10px;
    float: left;
}

#message h2 {
    font-size: 34px;
    font-weight: lighter;
    text-align: center;
}

#message p {
    font-size: 26px;
    font-weight: bold;
}

#pubImageHolder {
    width: 400px;
    margin: 10px;
    float: right;
}

#publicationImg {
    width: 300px;
    height: 300px;
}

#publicationImg img {
    width: 300px;
    height: 300px;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}
