/* this CSS rule specifies the font and where it can be found */
/*
@font-face
{
	font-family: 'poiretone';
	src: url('PoiretOne-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
*/
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300,700&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Inconsolata:100,400,700&subset=latin,latin-ext);

/* general settings */
/* **************** */
body
{
	width: 100%;
	margin: 0px;
	font-size: 60%;
	color: #403F3D !important;
}


#authorMadeByText
{
	margin: -0.3em;
}
#authorPCSSText
{
	margin: 0em;
}
#author
{
	text-align: center;
	bottom: 5em;
	left: 6em;
	position: absolute;
}

#chosenAgeText
{
	text-align: center;
	bottom: 0.6em;
	right: 1.5em;
	position: absolute;
}

/* link styling */
/* don't colour links */
a:link, a:visited, a:hover, a:active
{
	color: #403F3D;
	outline: none;
}
/* iceweasel, don't change default colour of buttons */
button
{
	color: #403F3D;
}
/* don't make dotted line around buttons */
button:link, button:visited, button:hover, button:active, button:focus
{
	color: #403F3D;
	outline: 0;
	border: none;
}
:focus 
{
	outline:none;
}
::-moz-focus-inner
{
	border:0;
}


/* additionally to not colouring links, no underscore */ 
.noLinkIndicator
{
	text-decoration: none;		
}

/* background styling */
/* this is class for <body> element */
.backgroundLight
{
	/* this is a way to make very nice CSS3 stripes, */
	/* but browser performance is not good;  */
	/* setting background colour allows for fallback to single colour background when CSS feature is not available */
	/*
	background-color: #DDDDD4;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .8)), color-stop(.5, transparent), to(transparent));
	background-image: -moz-linear-gradient(rgba(255, 255, 255, .8) 50%, transparent 50%, transparent);
	background-image: -o-linear-gradient(rgba(255, 255, 255, .8) 50%, transparent 50%, transparent);
	background-image: linear-gradient(rgba(255, 255, 255, .8) 50%, transparent 50%, transparent);
	-webkit-background-size: 4px 4px;
	-moz-background-size: 4px 4px;
	background-size: 4px 4px;
	*/
	
	/* this is another way, not so compatible, but faster */
	/* unfortunately there are sometimes artifacts in iceweasel and chrome	*/
	/* (example is for blue background)
	/*
	background: repeating-linear-gradient(
	  #598094,
	  #598094 2px,
	  #9DB6CA 2px,
	  #9DB6CA 4px
	);
	*/

	background-image: url('images/backgroundLight.png');
}

.backgroundBlue
{
	background-image: url('images/backgroundBlue.png');
}


/* game styling */
/* ************ */
#gameboard
{
	position: fixed;
	top: 50%;
	left: 50%;
}

.card
{
	position: relative;
	background-color: #7FB1B0;
	border-radius: 8px;
	margin: 5px;
	float: left;
}

.cardImg
{
	border-radius: 8px;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;	
}

.covered
{
	opacity: 0;
}


/* text-specific styling */
/* ********************* */
.ageOption
{
	font-family: 'Shadows Into Light', cursive;

	font-size: 8em;
}

#gameTitleText
{
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;

	font-size: 4em;
	letter-spacing: 0.04em;
	font-weight: 300;
}
#congratulationsText
{
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;

	font-size: 2em;
	letter-spacing: 0.025em;
	font-weight: 700;
}
#ageQuestionText
{
	font-family: 'Shadows Into Light', cursive;

	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 0.20em;
}
#chooseCategoryText
{
	font-family: 'Shadows Into Light', cursive;

	font-size: 2.5em;
	letter-spacing: 0.25em;
	text-transform: uppercase;
}
#chosenAgeText
{
	font-family: 'Shadows Into Light', cursive;

	font-size: 7em;
}
#authorMadeByText
{
	font-family: 'Shadows Into Light', cursive;

	font-size: 2.8em;
	text-transform: uppercase;
}
#authorPCSSText
{
	font-family: 'Shadows Into Light', cursive;

	font-size: 5em;
}
#scores
{
	font-family: 'Shadows Into Light', cursive;

	font-size: 4em;
}
#triesText
{
	font-family: 'Inconsolata';
	text-transform: uppercase;

	font-size: 2em;
	font-weight: 700; 
	letter-spacing: 0.20em;
}
#fromText
{
	font-family: 'Inconsolata';
	text-transform: uppercase;

	font-size: 2em;
	letter-spacing: 0.20em;
}
#factText
{
	font-family: 'Inconsolata';
	text-transform: uppercase;

	font-size: 2em;
	letter-spacing: 0.20em;
}
#playAgainText
{
	font-family: 'Shadows Into Light', cursive;

	font-size: 3em;
	letter-spacing: 0.25em;
	text-transform: uppercase;
}


/* neon colours of title text */
/* ************************** */
.neonPurple
{
	color: #9B0786;
}
.neonGreen
{
	color: #96D614;
}
.neonViolet
{
	color: #2A23D6;
}
.neonBlue
{
	color: #22DDD5;
}
.neonPink
{
	color: #FC06CB;
}
.neonOrange
{
	color: #FE7701;
}


/* positioning and styling elements */
/* ******************************** */

/* index.html */
#titleDiv
{
	text-align: center;
	margin-top: -5.5%;
	margin-left: -2%;
}

#titlePicture
{
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	text-align: center;
}

#shadowRabbitPicture
{
	width: 20em;
	position: absolute;
	bottom: 16em;
	left: 1.5em;
}

#badgePictureIndex
{
	width: 10%;
	position: absolute;
	right: 20%;
	top: 40%;
}

.choosingAge
{
	width: 100%;
	text-align: center;
}

.ageOption
{
	padding-left: 50px;
	padding-right: 50px;
	border: 0px;
	background: none;
}
#ageQuestionText
{
	width: 14%;
	margin-left: 43%;
	margin-right: 43%;
	padding: 0.3em;
	
	margin-top: 10%;
	
	background: white;
   -moz-box-shadow:    inset 0 0 4px #aaaaaa;
   -webkit-box-shadow: inset 0 0 4px #aaaaaa;
   box-shadow:         inset 0 0 4px #aaaaaa;
}

/* category.html */
#badgePictureCategory
{
	width: 10%;
	position: absolute;
	right: 11%;
	top: 50%;
}
#rabbitChevronCategory
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 20%;
	z-index: -1;
	/*
	width: 28%;
	position: absolute;
	left: 0%;
	top: 0%;
	margin-left: -18em;
	margin-top: -18em;
	clip: rect(18em,400em,400em,18em);
	*/
}

#categoryBox
{
	width: 100%;
	position: absolute;
	bottom: 35%;
	text-align: center;
}
#categoryOptions
{
	display: block;
}

.categoryOption
{
	margin: 30px 10px 10px 10px;
	width: 155px;
	height: 155px;
	background-color: #7FB1B0;
	border: 0px;
	border-radius: 8px;
	padding: 0px;
	color: black;
}

/* the_game.html */
#scores
{
	position: fixed;
	top: 47%;
	left: 50%;
}

/* end_game.html */

#playAgainText
{
	text-align: center;
}

#cloudsTop
{
	top: 0px;	
	right: 0px;	
	position: absolute;
	width: 95%;	
}

#cloudsBottom
{
	width: 80%;	
	bottom: 0px;
	left: 0px;
	position: absolute;
}

#message
{
	text-align: center;
	width: 100%;
}

#pubImageHolder
{
	width: 400px;
	margin: 10px;
	float: right;
}

#publicationImg
{
	width: 300px;
	height: 300px;
}

#publicationImg img
{
	width: 300px;
	height: 300px;
}

